html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  position: relative;
  margin: 0;
}
h1, h2 {
  top: 0;
  left: 1em;
  position: fixed;
  text-shadow: 6px 6px 24px black;
  font-size: 3em;
  font-weight: bolder;
  color: white;
}
h2{
  top: 2em;
  left: 4em;
}
p {
  padding: 0;
  margin: 0;
}


#container {
  width: 65%;
  top: 14em;
  margin: 14em auto 4em;
  padding: 1em 1em 0 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: #e0dddd;
  opacity: 0.8;
  max-height: 40%;
  overflow: scroll;
}
#container p {
  font-size: small;
  text-align: center;
}
ul {
  padding: 0 1em 0.1em;
  margin: 0;
}
li {
  padding-bottom: 0.25em;
}
#credits {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #ccc;
  opacity: 0.75;
  height: 4em;
  font-size: small;
}

.floaty-mc-floatface {
  float: right;
}

