html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  position: relative;
  margin: 0;
}
h1, h2 {
  top: 0;
  left: 1em;
  position: fixed;
  text-shadow: 6px 6px 24px black;
  font-size: 3em;
  font-weight: bolder;
  color: white;
}
h2{
  top: 2em;
  left: 4em;
}
p {
  padding: 0;
  margin: 0;
}
p.tools {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#container {
  width: 65%;
  margin: 14em auto 4em;
  padding: 1em 0 1.5em 0;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: #e0dddd;
  opacity: 0.8;
  max-height: 40%;
  min-height: 10em;
  overflow: scroll;
  position: relative;
}
  #container p {
    font-size: small;
    text-align: center;
  }
  #container a {
    border: 1px solid #e0dddd;
    border-radius: 4px;
    padding: 2px;
  }
  #container a:hover {
    background-color: #b7c0bc;
    border: 1px solid #536988;
  }

ul {
  padding: 0.1em 0;
  margin: 0;
}
li {
  padding: 0 1em 0.25em 1em;
  margin: 0;
  list-style-type: none;
}
  /* only show the first 5 items */
  li + li + li + li + li + li {
      display: none;
  }
  li:nth-child(odd) {
    background: #ccc;
  }
  li.visible {
    display: inherit;
  }
#credits {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #ccc;
  opacity: 0.75;
  height: 4em;
  font-size: small;
}

.floaty-mc-floatface {
  float: right;
  margin-right: 1em;
}

